body {
    margin: 0 auto;
    max-width: 87.4375rem;
    
}

section {
    padding: 18px 0;
}

h1 {
    font-family: 'Alegreya', serif; 
}

h2 {
    font-family: 'Alegreya', serif;
    font-weight: 500;
    letter-spacing: 0.8px;

}

h3 {
    font-family: 'Alegreya', serif;
}

h4 {
    display: inline-block;
    background-color: #181818;
    color: white;
    font-family: 'Alegreya', serif;
    font-size: 1.25rem;
    font-weight: normal;
    letter-spacing: 0.6px;
    padding: 2px 4px 2px 4px;
    margin-top: 18px;
    margin-bottom: 18px;
    
}

h5 {
    display: inline-block;
    font-family: 'Alegreya', serif;
    font-size: 1.25rem;
    font-weight: normal;
    background-color: rgb(238, 238, 238);
    margin: 0;
}

p {
    font-size: 1.06rem;
    font-family: 'Palanquin', sans-serif;
    letter-spacing: 0.6px;
}


/* Navigation Bar Styling*/
#navbar {
    background-color: #fff;
    height: 100%;
    width: 280px;
    position: fixed;
    top: 0;
    padding-top: 15px;
    padding-left: 20px;
}

#navbar ul {
    list-style-type: none;
    padding-left: 0;
    padding-right: 17px;
}

#navbar a {
    display: block;
    font-family: 'Palanquin', sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    color: black;
    line-height: 1;
    padding: 10px 0 10px 0;
    text-decoration: none;
    outline: none;
}

#navbar a:hover {
    font-size: 1rem;
    font-weight: bold;

}

#navbar a:focus {
    font-size: 1rem;
}

nav header {
    border-bottom: solid;
    border-width: 1px;
    font-family: 'Alegreya', serif;
    font-size: 2rem;
    font-weight: 700;
}


/* Dropdown Button Styling*/
.dropbtn {
    display: none;
}


/* Main Document Styling*/
#main-doc {
    margin-right: 10px;
    margin-left: 300px;
    padding-left: 20px;
}

#main-doc header {
    font-family: 'Alegreya', serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.8px;
}

#main-doc a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;

}

#main-doc a:link {
    color: #265301;
}

#main-doc a:visited {
    color: #437A16
}

#main-doc a:focus {
    border-bottom: 1px solid;
    background: #BAE498
}

#main-doc a:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
}

#main-doc a:active {
    background: #265301;
    color: #CDFEAA;
}


/* Code Block Styling  */
p code {
    font-size: 0.9rem;
    background-color: rgb(238, 238, 238);
}

pre {
    border-left: 5px solid #3d7e9a;
    background-color: rgb(238, 238, 238);
    margin: 16px 16px;
    padding: 32px;
    white-space: pre-wrap;
}

code {
    background-color: rgb(238, 238, 238);
}

.code-block-tab-1 {
    display: inline-block;
    margin-left: 16px;
}

.code-block-tab-2 {
    display: inline-block;
    margin-left: 32px;
}

.code-block-tab-3 {
    display: inline-block;
    margin-left: 48px;
}

.code-block-tab-4 {
    display: inline-block;
    margin-left: 64px;
}

.code-block-tab-5 {
    display: inline-block;
    margin-left: 80px;
}


/* Table Styling */
.table-wrapper {
    overflow: auto;
}

table {
    table-layout: fixed;
    border-spacing: 0px;
}

table th {
    background-color: #d4d7dd;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 3px solid #420000;
    text-align: left;
}

table td {
    background-color: #f6f6f6;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    padding: 5px;
}

table p {
    margin: 0px;
    width: 300px;
    min-width: 300px;
    
}

table code {
    white-space: nowrap;
}



/* Footer and Contact Information */
#contact {
    border-top: solid;
    border-width: 1px;
    padding: 10px 0;
    margin-top: 40px;
    margin-left: 300px;
    text-align: center;
}

#contact p {
    margin: 0;
    font-size: 0.70rem;
}

.personal-contact-information a {
    text-decoration: none;
    color: black;
    padding: 10px 5px;
}


/* Order and Unorder lists Styling */
ul li {
    font-family: 'Palanquin', sans-serif;
    font-size: 1.06rem;
    letter-spacing: 0.6px;
}

ul li code {
    background-color: rgb(238, 238, 238);
    padding: 2px;
}

ol li {
    font-family: 'Palanquin', sans-serif;
    font-size: 1.06rem;
    letter-spacing: 0.6px;
}