/**** TAG SELECTORS ****/
p code {
    font-size: 15px;
    background-color: rgb(238, 238, 238);
}

pre {
    overflow: auto;
    background-color: rgb(238, 238, 238);
    margin: 1em 1em;
}

.code-block-container {
    background-color: rgb(238, 238, 238);
    display: block;
    margin: 1em 1em;
    padding: 1em 1em;
    
}
p {
    font-size: 17px;
    font-family: 'Palanquin', sans-serif;
    letter-spacing: 0.6px;
}

h1 {
   font-family: 'Alegreya', serif; 
}

h2 {
    font-family: 'Alegreya', serif;
}

.h3-title p {
    display: inline;
    background-color: black;
    color: white;
    font-family: 'Alegreya', serif;
    font-size: 20px;
    letter-spacing: 0.6px;
    padding: 2px 4px 2px 4px;
}

.h3-title {
    display: block;
}

header {
    font-family: 'Alegreya', serif;
    font-size: 35px;
    font-weight: 700;
}

ul li {
    font-family: 'Palanquin', sans-serif;
    font-size: 17px;
    letter-spacing: 0.6px;
}

ol li {
    font-family: 'Palanquin', sans-serif;
    font-size: 17px;
    letter-spacing: 0.6px;
}
/**** CLASS SELECTORS ****/

/**** ID SELECTORS ****/
