/**** TAG SELECTORS ****/
#navbar {
    height: 100%;
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 10px;   

}

#main-doc {
    margin-left: 280px;
    padding-left: 20px;
}
p code {
    font-size: 15px;
    background-color: rgb(238, 238, 238);
}

pre {
    background-color: rgb(238, 238, 238);
    margin: 1em 1em;
    padding: 2em 2em 2em 2em;
    white-space: pre-wrap;
}

p {
    font-size: 17px;
    font-family: 'Palanquin', sans-serif;
    letter-spacing: 0.6px;
}

h1 {
   font-family: 'Alegreya', serif; 
}

h2 {
    font-family: 'Alegreya', serif;
}

code {
    background-color: rgb(238, 238, 238);
}

.code-block-tab-1 {
    display: inline-block;
    margin-left: 1em;
}

.code-block-tab-2 {
    display: inline-block;
    margin-left: 2em;
}

.code-block-tab-3 {
    display: inline-block;
    margin-left: 3em;
}

.code-block-tab-4 {
    display: inline-block;
    margin-left: 4em;
}

.code-block-tab-5 {
    display: inline-block;
    margin-left: 5em;
}

.h3-title p {
    display: inline;
    background-color: black;
    color: white;
    font-family: 'Alegreya', serif;
    font-size: 20px;
    letter-spacing: 0.6px;
    padding: 2px 4px 2px 4px;
}

.h3-title {
    display: block;
    margin-top: 18px;
    margin-bottom: 18px;
}

.h4-code-title {
    font-size: 20px;
    background-color: rgb(238, 238, 238);

}

.table-one-container {
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
}

table td {
    background-color: #f6f6f6;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    padding: 5px;
}


table p {
    margin: 0px;
}

table th {
    background-color: #d4d7dd;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 3px solid #420000;
    text-align: left;
}

table {

    border-spacing: 0px;
    width: 100%;
}

.table-col-one {
    width: 20%;

}

.table-col-two {
    width: 30%;
}

.table-col-three {
    width: 50%;
}

nav header {
    font-family: 'Alegreya', serif;
    font-size: 30px;
    font-weight: 700;
}

main header {
    font-family: 'Alegreya', serif;
    font-size: 35px;
    font-weight: 700;
}

section {
    margin-top: 50px;
}

ul li {
    font-family: 'Palanquin', sans-serif;
    font-size: 17px;
    letter-spacing: 0.6px;
}

ul li code {
    background-color: rgb(238, 238, 238);
    padding: 2px;
}

ol li {
    font-family: 'Palanquin', sans-serif;
    font-size: 17px;
    letter-spacing: 0.6px;
}
/**** CLASS SELECTORS ****/

/**** ID SELECTORS ****/
